.contact-card {
    height: 500px;
}

.contact-card__body {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contact-card__bottom {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.contact-card__button {
    width: 49%;
}
